[package]
name = "remux"
version = "0.1.0"
edition = "2021"
description = "Async I/O multiplexing library for rust"
authors = ["Ayman Al-Qadhi <alqd@protonmail.com>"]
repository = "https://github.com/real-evolution/remux"
license-file = "LICENSE"
readme = true
publish = true

[dependencies]
dashmap = { version = "5" }
tokio = { version = "1", features = ["sync"] }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[profile.release]
codegen-units = 1
lto = true
